body {
margin: 0;
background: linear-gradient(#2b4f96, #7C5A85, #e8a8c8);
color: white;
text-align: center;
min-height: 100vh;
position: relative;
}
.back-button {
position: absolute;
top: 20px;
left: 20px;
color: white;
font-size: 16px;
font-family: "Inter", sans-serif;
cursor: pointer;
text-decoration: none;
}

.image-box {
max-width: 300px;
margin: 80px auto 20px;
/* border-radius: 6px; */
position: relative;
}

h1 {
font-size: 26px;
margin-top: 20px;
font-family: "Playfair Display", serif;
}

p {
max-width: 300px;
margin: 10px auto;
line-height: 1.4;
font-size: 14px;
font-family: "Inter", sans-serif;
}

.MS3 {
width: 160px;
position: absolute;
bottom: 0;
left: 0;
transform: translate(-20%, 20%);
transition: 0.2s ease;
cursor: pointer;
}

.MS3:hover {
transform: translate(-20%, 10%) scale(1.05);
}