/* --- font --- */
.playfair {
    font-family: 'Playfair Display', serif;
}

.inter {
    font-family: 'Inter', sans-serif;
}

/* color */
:root {
    --color-dark: #292C2D;
    --color-light-pink: #CD9AB1;
}

/* gradient background */
.page {
    background: linear-gradient(180deg, var(--color-light-pink) 0%, #FFFFFF 100%);
    min-height: 100vh;
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow-x: clip;
    overflow-y: clip;
}

/* main content area */
.content-area {
    padding: 2rem 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* heading */
.display-text {
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 1.3;
    color: var(--color-dark);
    position: relative;
    z-index: 2;
    margin-bottom: 0px;
}

/* adjust for bigger screens? */
@media (min-width: 576px) {
     .display-text {
        font-size: 3.5rem;
    }
}

/* buttons */
.btn-view-map {
    background-color: var(--color-dark);
    border-color: var(--color-dark);
    color: #fff;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 10rem;
    width: 80%;
    margin-top: 1rem;
}
.btn:hover {
    background-color: #7C5A85;
    border-color: #7C5A85;
    color: #fff;
}

.btn-donate {
    background-color: transparent;
    border: 2px solid var(--color-dark);
    color: var(--color-dark);
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 10rem;
    width: 80%;
    margin-top: 0rem;
}

/* robot pic */
.robot-img {
    position: absolute;
    top: 31vh; 
    right: -25vw;
    width: 350px;
    z-index: 1;
    opacity: 1;
    overflow-x: clip;
    overflow-y: clip;
}

@media (min-width: 768px) {
    .robot-img {
        top: 15vh; 
        right: 15vw;
        width: 450px; 
        max-width: 500px;
    }
}
/* footer pic */
.footer-graphic {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 385px;
    z-index: 0;
    background-image: url('Images/foot.png');
}

.footer-text {
    position: relative; 
    z-index: 10; 
    text-align: center;
    padding: 1rem 0 0.5rem 0;
    color: #FFFFFF;
    font-size: 0.85rem;
}