.title {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.map {
    height: 350px;
    width: 370px;
    background-image: url(Images/Map.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

.point {
    height: 35px;
    width: 25px;
    background-image: url(Images/Point.png);
    background-size: contain;
    background-repeat: no-repeat; 
    position: absolute;
    left: 50px;
    top: 60px;
}

.tip {
    background-color: #F8F8F8;
    border-radius: 50px 50px 0 0;
    height: 230px;
}



.tip .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100%;
}

.mascot {
    height:140px;
    width:120px;
    background-image: url(Images/Mascot.png);
    background-position: center;
    background-size: contain;
    display:inline-block;
    background-size: 80%;
    background-repeat: no-repeat;  
}

.explore {
    height:80px;
    width:190px;
    background-image: url(Images/Suggestion_Text.png);
    background-position: center;
    background-size: contain;
    display:inline-block;
    background-size: 80%;
    background-repeat: no-repeat;  
}

body {
    background: linear-gradient(to bottom, #F8F8F8, #E3C7D4); 
    height: 880px;  
}

.zoomed_map {
    align-items: right;
    background-image: url(Images/Zoom_Map.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    position: relative;
    overflow: hidden;
    position:relative;
}


.pop-up {
    position: relative;
    height: 180px;
    width: 200px;
    background-image: url(Images/Pop_up.png);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -10px;
    left: 10%;
}


.info {
    border-radius: 50px 50px 0 0;
    height: 500px;
    background-color: #F8F8F8;
}

.content {
    max-width: 500px;
    color: #292C2D;
    font-size: 18px;
}

.btn-learn {
    background-color: #292C2D !important;
    color: #CD9AB1 !important;
    width: 300px;
    height: 70px;
    font-size: 1.2rem;
    border: none;
}


.btn-learn:hover {
    background-color: #3A3D40; 
    color: #E1A7C0; 
}

.image {
    height:150px;
    width: 350px;
    background-color:aquamarine;
}

.content {
    max-width: 410px;
}