.title {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.map {
    height: 350px;
    width: 370px;
    background-image: url(Images/Map.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

.point {
    height: 35px;
    width: 25px;
    background-image: url(Images/Point.png);
    background-size: contain;
    background-repeat: no-repeat; 
    position: absolute;
    left: 50px;
    top: 60px;
}

.tip {
    background-color: #F8F8F8;
    border-radius: 50px 50px 0 0;
    height: 230px;
}

.tip .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100%;
}

.mascot {
    height:140px;
    width:120px;
    background-image: url(Images/Mascot.png);
    background-position: center;
    background-size: contain;
    display:inline-block;
    background-size: 80%;
    background-repeat: no-repeat;  
}

.explore {
    height:80px;
    width:190px;
    background-image: url(Images/Suggestion_Text.png);
    background-position: center;
    background-size: contain;
    display:inline-block;
    background-size: 80%;
    background-repeat: no-repeat;  
}

body {
        background: linear-gradient(to bottom, #F8F8F8, #E3C7D4);   
}

.zoomed_map {
    height: 150px;
    width: 100%;
    background-image: url(Images/Zoomed_Map.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top;
    overflow: hidden;
}


.pop-up {
    height: 440px;
    width: 690px;
    background-image: url(Images/Pop_up.png);
    background-size: contain;
    background-repeat: no-repeat; 
    position: absolute;
    left: 50px;
    top: 60px;
}

.content {

}